.aboutMission{
        text-align: center;
}
.title{
    color: #1f1227;
    font-size: 60px;
    font-family: 'barricada';
    margin-bottom: 20px;
    line-height: 1;
}
.desc{
    color: #1f1227;
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 0px;
}
.aboutSupport{
    text-align: center;
    padding-top: 60px;
    font-size: 16px;
    color: #1f1227;
    line-height: normal;
    font-weight: 500;
    margin-bottom: 0px;

    a{
        color: #eaeaea;
    }
}

